body {
  font-family: "Arial", sans-serif;
  background-color: #d4d4d4;
}
textarea {
  resize: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

.text-center h1 {
  color: #2c074e;
}

.table {
  margin-top: 20px;
  width: 100%;
}

.table button {
  margin-right: 5px;
  border: none;
  border-radius: 10px;
}

#eliminarModal .modal-content {
  background-color: #544b63;
  color: #fff;
}

#eliminarModal .modal-title {
  color: #fff;
}

#eliminarModal .modal-body p {
  color: #fff;
}

#eliminarModal .modal-footer button {
  color: #fff;
  border: none;
  border-radius: 10px;
}

.modal-body form {
  max-width: 100%;
}

#saveButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.table button.btn-warning {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .text-center h1 {
    font-size: 1.5em;
  }

  .table button {
    margin-bottom: 5px;
  }
}
