body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}
.container {
  padding: 20px;
}

.table {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
}

.btn-primary:hover {
  background-color: #218838;
}

.btn-warning {
  background-color: #007bff;
  color: #fff;
}

.btn-warning:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.modal-dialog {
  max-width: 90%;
}
@media (max-width: 576px) {
  .form-control,
  .btn {
    width: 100%;
  }
}
